/*index html */

@media (max-width: 1023px){
    #tuske{
        background-image: url(kepek/TUSKE_logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 97vw;
        max-width: 800px;
        aspect-ratio: 16/6;
        margin-top: clamp(20px,5vw,50px);
    }
    #from{
        margin-top: clamp(20px,8vw,65px);
    }
    #logo{
        background-image: url(kepek/KEDVES_BOKI_PRODUCTIONS_logo.png);
        aspect-ratio: 1/1;
        width: clamp(40px,10vw,80px);
        background-size: cover;
        position: absolute;
        right: clamp(15px, 5%,30px);
        bottom: 20px;
    }
    #rights{
        width: clamp(300px, 60vw, 700px);
        bottom: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #start{
        margin-top: clamp(50px, 10vw, 90px);
        width: clamp(120px, 60vw, 250px);
    }
    #kreditek{
        width: clamp(100px, 50vw, 150px);
    }
    #iranyitas{
        width: clamp(90px, 45vw, 130px);
    }
}

/*kreditek*/

@media (max-width: 1000px){
    #vissza{
        width: 15%;
        min-width: 100px;
        left: 2%;
    }
}
@media (max-width: 750px){
    #vissza{
        width: 15%;
        min-width: 100px;
        left: 2%;
    }
}



/* .h1{
    font-family: "Indie Flower", cursive;   
    font-weight: 1000;   
    font-style: normal; 
    font-size: 80px;
    margin: 3%;
}
.h2{
    font-family: "Indie Flower", cursive;   
    font-weight: 400;   
    font-style: normal; 
    font-size: 50px;
    margin-bottom: 3%;
}
.szoveg{
    font-family: "Indie Flower", cursive;   
    font-weight: 200;   
    font-style: normal; 
    font-size: 24px;
    margin-bottom: 2%;
}
.nev{
    font-family: "Indie Flower", cursive;   
    font-weight: 300;   
    font-style: normal; 
    font-size: 30px;
    margin-bottom: 2%;
}
#szog_kep{
    background-image: url(kepek/szog.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#tuske_kep{
    background-image: url(kepek/tuske.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#oreg_kep{
    background-image: url(kepek/oreg.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#dorottya_kep{
    background-image: url(kepek/dorottya.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#rendor_kep{
    background-image: url(kepek/rendor.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#tulaj_kep{
    background-image: url(kepek/tulaj.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 30px;
    margin: auto;
}
#prodlogo{
    background-image: url(kepek/KEDVES_BOKI_PRODUCTIONS_logo.png);
    aspect-ratio: 1/1;
    width: 80px;
    background-size: cover;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}
#rights2{
    color:rgb(133, 133, 133);
    font-family: "Indie Flower", cursive;   
    font-weight: 400;   
    font-style: normal; 
    margin-bottom: 3.5%;
}
#vissza{
    all: unset;
    background-image: url(kepek/TUSKE_vissza.png);
    aspect-ratio: 16/9;
    width: 140px;
    background-size: cover;
    left: 150px;
    position: fixed;
    transition: 0.3s ease;
}
#vissza:hover{
    transform: scale(1.1);
} */




/* iranyitas*/

@media (max-width: 1023px){
    #irany{
        padding-top: 15%;
        font-size: clamp(55px, 10vw, 80px);
        width: clamp(310px, 90vw, 100vw);
    }    
}