#test{
    text-align: center;
    background-image: url(kepek/hatter.png);
    background-repeat: repeat-y;
}
#tuske{
    background-image: url(kepek/TUSKE_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    aspect-ratio: 16/6;
    margin: 0 auto;
    margin-top: 50px;
}
#rights{
    color:rgb(97, 97, 97);
}
#start{
    all: unset;
    background-image: url(kepek/TUSKE_start.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    margin-top: 130px;
    transition: 0.3s ease;
}
#start:hover{
    transform: scale(1.1);
}
#kreditek{
    all: unset;
    background-image: url(kepek/TUSKE_kreditek.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    transition: 0.3s ease;

}
#kreditek:hover{
    transform: scale(1.1);
}
#rights{
    bottom: 0;
    margin-bottom: 25px;
    position: absolute;
    width: 99vw;
    text-align: center;
}
#from{
    margin-top: 65px;

}
#logo{
    background-image: url(kepek/KEDVES_BOKI_PRODUCTIONS_logo.png);
    aspect-ratio: 1/1;
    width: 80px;
    background-size: cover;
    float: right;
    margin-right: 30px;
}
#from,#rights {   font-family: "Indie Flower", cursive;   font-weight: 400;   font-style: normal; }

#jatekTest{
    aspect-ratio: 16/9;
    width: 100%;

}
#flexszitu{
    display: flex;
    justify-content: space-evenly;

}
#szovegmezo{
    
}
