/*fouoldal*/
#test{
    text-align: center;
    background-image: url(kepek/hatter.png);
    background-repeat: repeat-y;
    background-attachment: fixed;
}
#tuske{
    background-image: url(kepek/TUSKE_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    aspect-ratio: 16/6;
    margin: 0 auto;
    margin-top: 50px;
}
#rights{
    color:rgb(133, 133, 133);
}
#start{
    all: unset;
    background-image: url(kepek/TUSKE_start.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    margin-top: 90px;
    transition: 0.3s ease;
}
#start:hover{
    transform: scale(1.1);
}
#kreditek{
    all: unset;
    background-image: url(kepek/TUSKE_kreditek.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    transition: 0.3s ease;
}
#kreditek:hover{
    transform: scale(1.1);
}
#rights{
    bottom: 0;
    margin-bottom: 25px;
    position: absolute;
    width: 99vw;
    text-align: center;
}
#from{
    margin-top: 65px;

}
#logo{
    background-image: url(kepek/KEDVES_BOKI_PRODUCTIONS_logo.png);
    aspect-ratio: 1/1;
    width: 80px;
    background-size: cover;
    float: right;
    margin-right: 30px;
}
#from,#rights {   
    font-family: "Indie Flower", cursive;   
    font-weight: 400;   
    font-style: normal; 
}
#iranyitas{
    all: unset;
    background-image: url(kepek/TUSKE_iranyitas.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    transition: 0.3s ease;
}
#iranyitas:hover{    
    transform: scale(1.1);
}

/*iranyitas*/
.iranyszoveg{
    font-family: "Indie Flower", cursive;   
    font-weight: 200;   
    font-style: normal; 
    font-size: 24px;
    margin: auto;
    margin-bottom: 2%;
    width: 40%;
}
.iranyitasszoveg{
    font-family: "Indie Flower", cursive;   
    font-weight: 200;   
    font-style: normal; 
    font-size: 24px;
    margin: auto;
    margin-bottom: 2%;
    width: 47%;
}
#leftclick{
    background-image: url(kepek/TUSKE_leftclick.png);
    aspect-ratio: 1/1;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 60px;
}
#items{
    background-image: url(kepek/TUSKE_items.png);
    aspect-ratio: 16/9;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 90px;
}
#tovabb{
    background-image: url(kepek/TUSKE_tovabb_withshadow.png);
    aspect-ratio: 16/9;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 80px;
}
#arrow{
    background-image: url(kepek/TUSKE_arrow.png);
    aspect-ratio: 1/1;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 80px;
}
#itemarrow{
    background-image: url(kepek/TUSKE_itemarrow.png);
    aspect-ratio: 8/6;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 60px;
}

/*kreditek*/
.h1{
    font-family: "Indie Flower", cursive;   
    font-weight: 1000;   
    font-style: normal; 
    font-size: 80px;
    margin: 3%;
}
.h2{
    font-family: "Indie Flower", cursive;   
    font-weight: 400;   
    font-style: normal; 
    font-size: 50px;
    margin-bottom: 3%;
}
.szoveg{
    font-family: "Indie Flower", cursive;   
    font-weight: 200;   
    font-style: normal; 
    font-size: 24px;
    margin-bottom: 2%;
}
.nev{
    font-family: "Indie Flower", cursive;   
    font-weight: 300;   
    font-style: normal; 
    font-size: 30px;
    margin-bottom: 2%;
}
#szog_kep{
    background-image: url(kepek/szog.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#tuske_kep{
    background-image: url(kepek/tuske.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#oreg_kep{
    background-image: url(kepek/oreg.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#dorottya_kep{
    background-image: url(kepek/dorottya.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#rendor_kep{
    background-image: url(kepek/rendor.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#prodlogo{
    background-image: url(kepek/KEDVES_BOKI_PRODUCTIONS_logo.png);
    aspect-ratio: 1/1;
    width: 80px;
    background-size: cover;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}
#rights2{
    color:rgb(133, 133, 133);
    font-family: "Indie Flower", cursive;   
    font-weight: 400;   
    font-style: normal; 
    margin-bottom: 3.5%;
}
#vissza{
    all: unset;
    background-image: url(kepek/TUSKE_vissza.png);
    aspect-ratio: 16/9;
    width: 140px;
    background-size: cover;
    left: 150px;
    position: fixed;
    transition: 0.3s ease;
}
#vissza:hover{
    transform: scale(1.1);
}

/*ez nem tom mi*/
#from,#rights {   font-family: "Indie Flower", cursive;   font-weight: 400;   font-style: normal; }

/* play*/
#jatektest{
    background-image: url(kepek/time\ machinehome.png);
    background-repeat: no-repeat;
    height: 98vh;
    bottom: 0;
    background-size: cover;
    background-position: 0px -200px;
}
#balKarakter{
    background-image: url(kepek/szog.png);
    background-size: cover;
    position: absolute;
    aspect-ratio: 1/1;
    transform:scaleX(-1);
    top: 120px;
    height: 600px;
    left: 10%;
}
#jobbKarakter{
    background-image: url(kepek/tuske.png);
    background-size: cover;
    position: absolute;
    aspect-ratio: 1/1;
    top: 147px;
    height: 560px;
    right: 10%;
}
#szovegMezo{   
    background-image: url(kepek/hatter.png);
    background-size: cover;
    position: absolute;
    text-align: center;
    aspect-ratio: 16/9;
    width: 90%;
    height: 270px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
#karakterNev{
    font-family: "Indie Flower", cursive; 
    text-align: left;
    color: black;
    margin-top: 0px;
    margin-bottom:0px;
    padding-left: 9%;
    font-weight: 700;
    font-size: 40px;
}
#karakterSzoveg{
    font-family: "Indie Flower", cursive; 
    text-align: left;
    color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 15%;
    padding-right: 9%;
    font-weight: 700;
    font-size: 25px;
}

#tovabb{
    position: absolute;
    height: 60px;
    width: fit-content;
    right: 30px;
    bottom: 10px;
    float: right;
    border-color: transparent;
    background-color: transparent;
}
#elsoValaszthato{
    position: absolute;
    left: 15%;
    top: 50px;
    font-family: "Indie Flower", cursive; 
    font-weight: 700;
    font-size: 25px;
    border-color: transparent;
    background-color: transparent;
}
#masodikValaszthato{
    position: absolute;
    left: 15%;
    top: 100px;
    font-family: "Indie Flower", cursive; 
    font-weight: 700;
    font-size: 25px;
    border-color: transparent;
    background-color: transparent;

}
#harmadikValaszthato{
    position: absolute;
    left: 15%;
    top: 150px;
    font-family: "Indie Flower", cursive; 
    font-weight: 700;
    font-size: 25px;
    border-color: transparent;
    background-color: transparent;
}
#valaszto{
    position: absolute;
    
    background-image: url(kepek/TUSKE_arrow.png);
    aspect-ratio: 1/1;
    background-size: contain;
    width: 38px;
    background-repeat: no-repeat;

    right: 50%;
    top: 60px;

}





/*indul a jatek*/
#intro {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
}
#tuske-feher {
    opacity: 0;
    transition: opacity 1s ease;
}
.fade-out {
    animation: fadeOut 1.5s forwards ease;
}
  
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}









/*cutscene_1*/

#fade{
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
}
#fade{
    animation: fadeOut 3s forwards ease;
}
  
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}


#jatekcut{
    background-image: url(kepek/szogszoba.png);
    background-repeat: no-repeat;
    height: 98vh;
    bottom: 0;
    background-size: cover;
    background-position: 0px -200px;
}
#next{
    all: unset;
    background-image: url(kepek/TUSKE_tovabb.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    aspect-ratio: 16/9;
    transition: 0.3s ease;
}
#next:hover{
    transform: scale(1.1);
}



#balKarakter{
    background-image: url(kepek/szog.png);
    background-size: cover;
    position: absolute;
    aspect-ratio: 1/1;
    transform:scaleX(-1);
    top: 120px;
    height: 600px;
    left: 10%;
}
#jobbKarakter{
    background-image: url(kepek/tuske.png);
    background-size: cover;
    position: absolute;
    aspect-ratio: 1/1;
    top: 147px;
    height: 560px;
    right: 10%;
}
#szovegMezo{   
    background-image: url(kepek/hatter.png);
    background-size: cover;
    position: absolute;
    text-align: center;
    aspect-ratio: 16/9;
    width: 90%;
    height: 270px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
#karakterNev{
    font-family: "Indie Flower", cursive; 
    text-align: left;
    color: black;
    margin-top: 0px;
    margin-bottom:0px;
    padding-left: 9%;
    font-weight: 700;
    font-size: 40px;
}
#karakterSzoveg{
    font-family: "Indie Flower", cursive; 
    text-align: left;
    color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 15%;
    padding-right: 9%;
    font-weight: 700;
    font-size: 25px;
}
