#tuske {
    background-image: url(kepek/TUSKE_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    aspect-ratio: 16/6;
    margin: 0 auto;
}
#main{
    text-align: center;
    background-image: ;
}

#start{
    all: unset;
    background-image: url(kepek/TUSKE_start.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    margin-top: 200px;
}

#kreditek{
    all: unset;
    background-image: url(kepek/TUSKE_kreditek.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    margin-top: 50px;

}