#test{
    text-align: center;
    background-image: url(kepek/hatter.png);
    background-repeat: repeat-y;
    background-attachment: fixed;
}
#tuske{
    background-image: url(kepek/TUSKE_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    aspect-ratio: 16/6;
    margin: 0 auto;
    margin-top: 50px;
}
#rights{
    color:rgb(133, 133, 133);
}
#start{
    all: unset;
    background-image: url(kepek/TUSKE_start.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    margin-top: 130px;
    transition: 0.3s ease;
}
#start:hover{
    transform: scale(1.1);
}
#kreditek{
    all: unset;
    background-image: url(kepek/TUSKE_kreditek.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    transition: 0.3s ease;

}
#kreditek:hover{
    transform: scale(1.1);
}
#rights{
    bottom: 0;
    margin-bottom: 25px;
    position: absolute;
    width: 99vw;
    text-align: center;
}
#from{
    margin-top: 65px;

}
#logo{
    background-image: url(kepek/KEDVES_BOKI_PRODUCTIONS_logo.png);
    aspect-ratio: 1/1;
    width: 80px;
    background-size: cover;
    float: right;
    margin-right: 30px;
}
#from,#rights {   
    font-family: "Indie Flower", cursive;   
    font-weight: 400;   
    font-style: normal; 
}

/*kreditek*/
.h1{
    font-family: "Indie Flower", cursive;   
    font-weight: 1000;   
    font-style: normal; 
    font-size: 80px;
    margin: 3%;
}
.h2{
    font-family: "Indie Flower", cursive;   
    font-weight: 400;   
    font-style: normal; 
    font-size: 50px;
    margin-bottom: 3%;
}
.szoveg{
    font-family: "Indie Flower", cursive;   
    font-weight: 200;   
    font-style: normal; 
    font-size: 24px;
    margin-bottom: 2%;
}
.nev{
    font-family: "Indie Flower", cursive;   
    font-weight: 300;   
    font-style: normal; 
    font-size: 30px;
    margin-bottom: 2%;
}
#szog_kep{
    background-image: url(kepek/szog.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#tuske_kep{
    background-image: url(kepek/tuske.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#oreg_kep{
    background-image: url(kepek/oreg.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#dorottya_kep{
    background-image: url(kepek/dorottya.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#rendor_kep{
    background-image: url(kepek/rendor.png);
    aspect-ratio: 1/1;
    width: 400px;
    background-size: cover;
    margin: auto;
}
#prodlogo{
    background-image: url(kepek/KEDVES_BOKI_PRODUCTIONS_logo.png);
    aspect-ratio: 1/1;
    width: 80px;
    background-size: cover;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}
#rights2{
    color:rgb(133, 133, 133);
    font-family: "Indie Flower", cursive;   
    font-weight: 400;   
    font-style: normal; 
    margin-bottom: 3.5%;
}
#vissza{
    all: unset;
    background-image: url(kepek/TUSKE_vissza.png);
    aspect-ratio: 16/9;
    width: 140px;
    background-size: cover;
    left: 150px;
    position: fixed;
    transition: 0.3s ease;
}
#vissza:hover{
    transform: scale(1.1);
}

/*ez nem tom mi*/
#from,#rights {   font-family: "Indie Flower", cursive;   font-weight: 400;   font-style: normal; }

#jatektest{
    
    display : flex;
    align-items: center;
    text-align: center;
    background-image: url(kepek/time\ machinehome.png);
    background-repeat: no-repeat;
    height:943px;
    bottom: 0;
    
    background-size: cover;

/* play*/
}

    #flexszitu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%; 
        height: 100px; 
        margin-left: auto;
        margin-right: auto;
       
    }


#balKarakter{
    background-image: url(kepek/szog.png);
    
    background-size: cover;
    aspect-ratio: 1/1;
 
    height: 400px;
}
#jobbKarakter{
    background-image: url(kepek/tuske.png);
    background-size: cover;
    aspect-ratio: 1/1;
 
    height: 400px;
}
#szovegmezo{
    
}
